<div class='container-fluid about-content'>
    <div class='row about-head-row'>

      <div class='col-md-3 col-md-offset-2 about-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-head'>About Us</h1>
      </div>
      <div class='col-md-3 about-bars'></div>
    </div>

    <div class='row about-content-text'>
      <div class='col-md-9 about-blah'>
        <h2 id='mission-head'>The Upside is where purpose and optimism intersect.</h2></br>
        <p id='about-text'>

We’re a group of passionate ladies committed to cultivating positive change - to creating the #Upside where the downside seems insurmountable.</br></br>

Our mission is to educate, inspire, and empower those around us to do the same by uniting the people we care about with the causes that make us passionate.</br></br>

We believe there’s never been a more critical time to consider what we stand for, to assert what we value, and to spark a conversation…. Because positive change requires more than hope. It requires risk, perseverance, dedication, discomfort and maybe even fear. Bottom line: it’s always worth it.</br></br>

Our Upside Event Series will shed light on various causes – one per quarter – that demand our passion.</br></br>

Each event will focus on a specific charity or a group that aligns with a need we feel is crucial. By inviting our network to learn about and contribute to these causes, our hope is that we ignite the desire in our attendees to pursue the causes that resonate with them personally. The first events are set, but we’ll rely on our network to share their passions with us as time goes on, and to inform the causes to illuminate for future events.</p>
      </div>
    </div>

    <div class='row about-team-row'>

      <div class='col-md-3 col-md-offset-2 team-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-team'>Meet Our Team</h1>
      </div>
      <div class='col-md-3 team-bars'></div>
    </div>
  </div>

<div class='container-fluid team-members'>
    <div class='row team-pic-row'>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>Equal parts rampant political facebook poster, ardent argument instigator and focused ad (wo)man at Karsh Hagen, Anne-Marie thrives on any opportunity to share and challenge perspectives and to foster understanding. Inspired by the brilliant, bold, impassioned women around her and driven by a desire to find and cultivate the “Upside” in a climate that made that possibility seem remote, Anne-Marie assembled this incredible group of ladies and continues to be uplifted by their endless ability to #slay. </span>" popover-placement="top"/>
          <span class='team-name'>Anne-Marie Salcito</span>
      </div>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>When Margaux isn’t busy slaying at Morgan Stanley Private Wealth Management, she slays at pretty much everything else she does. Including but not limited to: receiving scholarships and academic awards as a member of the University of Denver Division I Women’s Soccer Team, co-chairing the Third Way Center Young Professionals Board, and volunteering extensively across the country as well as internationally. As a Colorado native, Margaux enjoys the outdoors, mountaineering, yoga and the Broncos (duh), and her enthusiasm, experience, knowledge and expertise have been invaluable to helping bring the Upside vision to life.</span>" popover-placement="top"/>
          <span class='team-name'>Margaux Lochmiller</span>
      </div>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>Leslie Simonton is a legend, among other things. She can golf circles around basically every dude we know and don’t even get us started on her dirt bike prowess. More importantly, Leslie is a strong, dedicated and brilliant force to be reckoned with both in the workplace and out. A native to Colorado Springs, she’s volunteered for the National Charity League and St Jude's Children's Hospital and currently works in commercial real estate. She joined Upside driven by her desire to spread knowledge and encourage her peers to follow in creating awareness and change to matters that need it most.</span>" popover-placement="top"/>
          <span class='team-name'>Leslie Simonton</span>
      </div>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>Ever heard the term “little sparkplug”? Google it. Now you know Jenn Lazear. Born and raised in Columbus, Ohio, Jenn has lived in Denver for 5 years, and we’re grateful to have her wit, her enthusiasm and her drive. She is a Commercial Real Estate Broker specializing in Retail Leasing and when she’s not focused on work she’s active in local AIPAC and Jewish Family Services initiatives as well as the International Council of Shopping Centers. Jenn joined Upside for the amazing opportunity to meet other like-minded women and provide fun programming for a great cause.  </span>" popover-placement="top"/>
          <span class='team-name'>Jennifer Lazear</span>
      </div>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>Brianna Hernandez is a BOSS marketing professional at The Denver Post, but has spent the last decade fundraising and event planning in the Denver community. From planning fundraisers for Hurricane Sandy victims, to marching against School of the Americas, she's always eager to take action. When she's not on a spin bike or hunting down the newest restaurant, she is a member of Mile High Young Professionals and the membership co-chair for CultureHaus at the Denver Art Museum. Inspired by the passionate and bold women of Upside, she joined to empower others to be agents of change.</span>" popover-placement="top"/>
          <span class='team-name'>Brianna Hernandez</span>
      </div>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>Rachael Greenberg, originally from Golden, Colorado is a marketing wizard at KPMG for her day job but her real work and her mark on this planet happens in the Denver community. She is a devoted mentor and trainer for Minds Matter Denver, a coach for City Lax Denver and is on the National Action Alliance for Suicide Prevention.  Inspired by the genesis of Upside and the group of women saying yes to making change, she joined the team to help spread the message of taking action and questioning the status quo.</span>" popover-placement="top"/>
          <span class='team-name'>Rachael Greenberg</span>
      </div>
      <div class='col-md-1 col-sm-12 team'>
        <img class='team-pic' src='../images/placeholder.jpg' custom-popover popover-html="<span class='popover-text'>You know those people you want to punch in the face bc everything they touch turns to gold? That’s Bridget. Eternal Michael Jackson mega-fan, founder of her event company, Cloth + Gold, and a devoted voice for positive change, she inspires those around her with her dedication, passion, and all around savvy. She was inspired to join Upside so that in 20 years when her kids ask her what she was doing during this time, she can say she made her voice loud and fought for what was right. Eff yes. </span>" popover-placement="top"/>
          <span class='team-name'>Bridget Rogers</span>
      </div>

    </div>
  </div>
</div>






  <!-- <div class='col-md-2 team-info team-1'>
    <h4 class='team-pic-name'>Briana Hernadez</h4>
  </div>
    <div class='col-md-2 team-info team-1' href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<p>Brianna Hernandez is a marketing professional at The Denver Post, but has spent the last decade fundraising, volunteering, and fostering strategic partnerships within the Denver community. From planning fundraisers for Hurricane Sandy victims, to marching against School of the Americas, to producing cultural events in the city, the idea of social justice motivates her to take action. She is a member of Mile High Young Professionals and is the membership co-chair for CultureHaus at the Denver Art Museum. Inspired by the passionate and bold women of Upside, she joined to empower others to be agents of change.</p>"class='popovers'>
    </div>
  <div class='col-md-2 team-info team-2'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-1' href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>Leslie Simonton</h2> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah"class='popovers'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-2'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-1'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-2'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div> -->
