<!DOCTYPE html>
<html ng-app= 'upside'>
<head>
  <meta charset="utf-8"/>
  <title>Upside Events</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
                        <!--   Stylesheets -->

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"/>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
  <script type="text/javascript" src='javascripts/main.js'></script>


</head>
<body ng-controller='mainController'>
  <div class='nav-upside-text'><img class='nav-logo-text' src='../images/logo-text.png'/></div>
  <div class='container-fluid' id='main-nav'>
    <div class='row large-row'>
      <div class='col-md-3 large-col'>
        <div class='row nav-row-left'>
          <div class='col-md-4'></div>
          <a class='nav-links' href='#about'><div class='col-md-4 nav-left'><h2 class='nav-text'>About Us</h2></div></a>
          <a class='nav-links' href='#events'><div class='col-md-4 nav-left'><h2 class='nav-text'>Events</h2></div></a>
        </div>
      </div>
      <div class='col-md-3 large-col'>
        <a class='nav-links' href='#'><div class='nav-image'><img id='nav-logo' src='../images/logo2.png'/></div></a>
      </div>
      <div class='col-md-3 large-col' id='nav-col-last'>
        <div class='row nav-row-right'>
          <a class='nav-links' href='#gallery'><div class='col-md-4 nav-right'><h2 class='nav-text'>Gallery</h2></div></a>
          <div class='col-md-4 nav-right'><h2 class='nav-text'>Connect</h2></a></div>
          <div class='col-md-4 nav-right'><a class='nav-links' href='#tickets'><h2 class='nav-text'>Tickets</h2></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid about-content'>
    <div class='row about-head-row'>
      <div class='col-md-2'></div>
      <div class='col-md-3 offset-md-2 about-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-head'>About Us</h1>
      </div>
      <div class='col-md-3 about-bars'></div>
      <div class='col-md-2'></div>
    </div>

    <div class='row about-content-text'>
      <div class='col-md-6 about-blah'>
        <p id='about-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class='row about-team-row'>
      <div class='col-md-2'></div>
      <div class='col-md-3 offset-md-2 team-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-team'>Meet Our Team</h1>
      </div>
      <div class='col-md-3 team-bars'></div>
      <div class='col-md-2'></div>
    </div>


    <div class='row team-pic-row'>
      <div class='col-md-2 team-info'>
        <h4 class='team-pic-name'>Leslie Simonton</h4>
      </div>
      <div class='col-md-2 team-info'>
        <h4 class='team-pic-name'>Leslie Simonton</h4>
      </div>
      <div class='col-md-2 team-info'>
        <h4 class='team-pic-name'>Leslie Simonton</h4>
      </div>
      <div class='col-md-2 team-info'>
        <h4 class='team-pic-name'>Leslie Simonton</h4>
      </div>
      <div class='col-md-2 team-info'>
        <h4 class='team-pic-name'>Leslie Simonton</h4>
      </div>
      <div class='col-md-2 team-info'>
        <h4 class='team-pic-name'>Leslie Simonton</h4>
      </div>

    </div>
  </div>







</body>
</html>
