  <div id='main-wrap'>
<div class='container-fluid about-content'>
    <div class='row about-head-row'>

      <div class='col-md-3 col-md-offset-2 about-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-head'>About Us</h1>
      </div>
      <div class='col-md-3 about-bars bars-mob'></div>
    </div>

    <!-- Border change around main page header for mobile  -->

    <div class='mobile-bars bars-pad'></div>
    <h1 id='ticket-head' class='mob-head'>About Upside</h1>
    <div class='mobile-bars'></div>

    <!--  Page Content       -->

    <div class='row about-content-text'>
      <div class='col-md-6 about-blah'>
        <h2 id='mission-head'>The Upside is where purpose and optimism intersect.</h2></br>
        <p id='about-text'>
          We’re a group of passionate ladies committed to cultivating positive change - to creating the #upside when the downside seems insurmountable.</br></br>

          Our mission is to educate, inspire, and empower those around us to do the same…one event at a time.</br></br>

          We believe there’s never been a more critical time to consider what we stand for, to assert what we value, and to spark a conversation…. because positive change requires more than hope.  It requires action, and of course, a little fun.

      </div>
    </div>

    <div class='row about-team-row'>
      <div class='col-md-3 col-md-offset-2 team-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-team'>Meet Our Team</h1>
      </div>
      <div class='col-md-3 team-bars '></div>
    </div>
    <!-- <img class='team-close' src='../images/close-down.png'/> -->


      <!-- Mobile Bars -->


    <div class='mobile-bars'></div>
    <h1 id='ticket-head' class='mob-head'>Meet Our Team</h1>
    <div class='mobile-bars'></div>



  </div>


            <!-- Team Member Slider -->

<div class='container-fluid team-members'>
  <div class='row headshot-row'>
    <div class='col-md-8 col-md-offset-2'>
      <div class='row'>
        <div class='col-md-3 col-md-offset-1 headshot-col'>
          <div class='headshot'></div>
        </div>
        <div class='col-md-8 headshot-info'>
          <h1 class='headshot-name'></h1>
          <p class='headshot-text'></p>
        </div>
      </div>
    </div>
  </div>






            <!-- Team Members -->

    <div class='row team-pic-row'>
      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='as' style="background-image:url(../images/head-shots/anne-marie.jpg)"></div>
          <span class='team-name'>Anne-Marie Salcito</span>
          <p class='mob-about' id='sa'></p>
      </div>

      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='bh' style="background-image:url('../images/head-shots/bri.jpg')"></div>
          <span class='team-name'>Brianna Hernandez</span>
          <p class='mob-about' id='hb'></p>
      </div>

      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='ml' style="background-image:url('../images/head-shots/margaux.jpg')"></div>
          <span class='team-name'>Margaux Lochmiller</span>
          <p class='mob-about' id='lm'></p>
      </div>



      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='ls' style="background-image:url('../images/head-shots/leslie.jpg')"></div>
          <span class='team-name'>Leslie Simonton</span>
          <p class='mob-about' id='sl'></p>
      </div>

      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='jl' style="background-image:url('../images/head-shots/jen.jpg')"></div>
          <span class='team-name'>Jennifer Lazear</span>
          <p class='mob-about' id='lj'></p>
      </div>


      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='rg' style="background-image:url('../images/head-shots/rachael.png')"></div>
          <span class='team-name'>Rachael Greenberg</span>
          <p class='mob-about' id='gr'></p>
      </div>

      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='br' style="background-image:url('../images/head-shots/bridget.jpg')"></div>
          <span class='team-name'>Bridget Rogers</span>
          <p class='mob-about' id='rb'></p>
      </div>

      <div class='col-md-2 col-sm-12 team'>
        <div class='team-pic' id='gh' style="background-image:url('../images/head-shots/grace.jpg')"></div>
          <span class='team-name'>Grace Hartman</span>
          <p class='mob-about' id='hb'></p>
      </div>
    </div>



    <div class='row team-pic-row-two'>
      <div class='col-md-12 team'>
        <div class='team-pic' id='as' style="background-image:url(../images/head-shots/anne-marie.jpg)"></div>
          <span class='team-name'>Anne-Marie Salcito</span>
          <p class='mob-about' id='sa'>Equal parts rampant political facebook poster, ardent argument instigator and focused ad (wo)man at Karsh Hagen, Anne-Marie thrives on any opportunity to share and challenge perspectives and to foster understanding. Inspired by the brilliant, bold, impassioned women around her and driven by a desire to find and cultivate the “Upside” in a climate that made that possibility seem remote, Anne-Marie assembled this incredible group of ladies and continues to be uplifted by their endless ability to #slay.</p>
      </div>

      <div class='col-md-12 team'>
        <div class='team-pic' id='bh' style="background-image:url('../images/head-shots/bri.jpg')"></div>
          <span class='team-name'>Brianna Hernandez</span>
          <p class='mob-about' id='hb'>Bri might be short and sweet, but she’s an absolute marketing badass at Booyah Advertising, and has spent the last decade fundraising and volunteering in Denver. From planning charity concerts to benefit Hurricane Sandy victims, to marching against School of the Americas, she is always eager to take action. When she’s not on a spin bike or hunting down the newest restaurant, she spends her time as a mentor for Minds Matter, is a member of Mile High Young Professionals, and is the Membership Co-Chair for CultureHaus at the Denver Art Museum. Inspired by the passionate and bold women of Upside, she joined to empower others to be agents of change.</p>
      </div>

      <div class='col-md-12 team'>
        <div class='team-pic' id='ml' style="background-image:url('../images/head-shots/margaux.jpg')"></div>
          <span class='team-name'>Margaux Lochmiller</span>
          <p class='mob-about' id='lm'>When Margaux isn’t busy slaying at Morgan Stanley Private Wealth Management, she slays at pretty much everything else she does. Including but not limited to: receiving scholarships and academic awards as a member of the University of Denver Division I Women’s Soccer Team, co-chairing the Third Way Center Young Professionals Board, and volunteering extensively across the country as well as internationally. As a Colorado native, Margaux enjoys the outdoors, mountaineering, yoga and the Broncos (duh), and her enthusiasm, experience, knowledge and expertise have been invaluable to helping bring the Upside vision to life.</p>
      </div>



      <div class='col-md-12 team'>
        <div class='team-pic' id='ls' style="background-image:url('../images/head-shots/leslie.jpg')"></div>
          <span class='team-name'>Leslie Simonton</span>
          <p class='mob-about' id='sl'>Leslie Simonton is a legend, among other things. She can golf circles around basically every dude we know and don’t even get us started on how she tears up the ski slopes on the weekends in winter. More importantly, Leslie is a strong, dedicated and brilliant force to be reckoned with both in the workplace and out. A native to Colorado Springs, she’s volunteered for the National Charity League and St Jude's Children's Hospital and currently works in commercial real estate. She joined Upside driven by her desire to spread knowledge and encourage her peers to follow in creating awareness and change to matters that need it most.</p>
      </div>

      <div class='col-md-12 team'>
        <div class='team-pic' id='jl' style="background-image:url('../images/head-shots/jen.jpg')"></div>
          <span class='team-name'>Jennifer Lazear</span>
          <p class='mob-about' id='lj'>Ever heard the term “little sparkplug”? Google it. Now you know Jenn Lazear. Born and raised in Columbus, Ohio, Jenn has lived in Denver for 5 years, and we’re grateful to have her wit, her enthusiasm and her drive. She is a Commercial Real Estate Broker specializing in Retail Leasing and when she’s not focused on work she’s active in local AIPAC and Jewish Family Services initiatives as well as the International Council of Shopping Centers. Jenn joined Upside for the amazing opportunity to meet other like-minded women and provide fun programming for a great cause.</p>
      </div>


      <div class='col-md-12 team'>
        <div class='team-pic' id='rg' style="background-image:url('../images/head-shots/rachael.png')"></div>
          <span class='team-name'>Rachael Greenberg</span>
          <p class='mob-about' id='gr'>Rachael Greenberg, originally from Golden, Colorado is a marketing wizard at KPMG for her day job but her real work and her mark on this planet happens in the Denver community. She is a devoted mentor and trainer for Minds Matter Denver, a coach for City Lax Denver and is on the National Action Alliance for Suicide Prevention.  Inspired by the genesis of Upside and the group of women saying yes to making change, she joined the team to help spread the message of taking action and questioning the status quo.</p>
      </div>

      <div class='col-md-12 team'>
        <div class='team-pic' id='br' style="background-image:url('../images/head-shots/bridget.jpg')"></div>
          <span class='team-name'>Bridget Rogers</span>
          <p class='mob-about' id='rb'>You know those people you want to punch in the face bc everything they touch turns to gold? That’s Bridget. Eternal Michael Jackson mega-fan, founder of her event company, Cloth + Gold, and a devoted voice for positive change, she inspires those around her with her dedication, passion, and all around savvy. She was inspired to join Upside so that in 20 years when her kids ask her what she was doing during this time, she can say she made her voice loud and fought for what was right. Eff yes.</p>
      </div>

      <div class='col-md-12 team'>
        <div class='team-pic' id='gh' style="background-image:url('../images/head-shots/grace.jpg')"></div>
          <span class='team-name'>Grace Hartman</span>
          <p class='mob-about' id='hg'>In addition to being the shit, Grace Hartman is a an avid fencer (she fenced D1 in college and coached in DC), as well as a UX Designer at Spire Digital. She's obsessed with all things visual—especially enhancing digital experiences—and has worked as a designer in Nepal, Brazil and all over the country.  Experiencing new places, people, and cultures is what inspires her the most, so Grace is a travel fiend. While she's new to Colorado, we loved her IMMEDIATELY when she jumped at the opportunity to help craft a strong, smart and optimistic message + visual identity for Upside to help propel some positive change in this world. We’re forever grateful that Grace joined us.</p>
      </div>
    </div>
  </div>




  </div>

  <!-- <footer>
    <div class='foot-wrap'>
    <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials' src='../images/socials/insta2.png'/></a>

    </div>
  </footer> -->


  <!-- <a href='msimonton.com' target="_blank"><img id='marc-logo' src='images/socials/marc-logo.png'/></a>
  <p id='powered'>Powered<br/>By</p> -->


<script>
$(document).ready(function(){
    // $('[data-toggle="popover"]').popover();
    var name= $('.headshot-name');
    var text= $('.headshot-text');
    var pic= $('.headshot');


    $('.team-pic').click(function() {
          $('.headshot-row').animate({
            height: '260px',
            opacity: '1'
        }, 900, 'easeInOutQuint');
        $('.headshot-col').animate({
          height: '240px',
          opacity: '1'
      }, 900, 'easeInOutQuint');
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
  return false;
})



      $('#as').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/anne-marie.jpg)"});
        name.append('Anne-Marie Salcito');
        text.append('Equal parts rampant political facebook poster, ardent argument instigator and focused ad (wo)man at Karsh Hagen, Anne-Marie thrives on any opportunity to share and challenge perspectives and to foster understanding. Inspired by the brilliant, bold, impassioned women around her and driven by a desire to find and cultivate the “Upside” in a climate that made that possibility seem remote, Anne-Marie assembled this incredible group of ladies and continues to be uplifted by their endless ability to #slay.');

      })

      $('#bh').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/bri.jpg)"});
        name.append('Brianna Hernandez');
        text.append("Bri might be short and sweet, but she’s an absolute marketing badass at Booyah Advertising, and has spent the last decade fundraising and volunteering in Denver. From planning charity concerts to benefit Hurricane Sandy victims, to marching against School of the Americas, she is always eager to take action. When she’s not on a spin bike or hunting down the newest restaurant, she spends her time as a mentor for Minds Matter, is a member of Mile High Young Professionals, and is the Membership Co-Chair for CultureHaus at the Denver Art Museum. Inspired by the passionate and bold women of Upside, she joined to empower others to be agents of change.");

      })




      $('#ml').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/margaux.jpg)"})
        name.append('Margaux Lochmiller');
        text.append('When Margaux isn’t busy slaying at Morgan Stanley Private Wealth Management, she slays at pretty much everything else she does. Including but not limited to: receiving scholarships and academic awards as a member of the University of Denver Division I Women’s Soccer Team, co-chairing the Third Way Center Young Professionals Board, and volunteering extensively across the country as well as internationally. As a Colorado native, Margaux enjoys the outdoors, mountaineering, yoga and the Broncos (duh), and her enthusiasm, experience, knowledge and expertise have been invaluable to helping bring the Upside vision to life.');

      })



      $('#ls').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/leslie.jpg)"})
        name.append('Leslie Simonton');
        text.append("Leslie Simonton is a legend, among other things. She can golf circles around basically every dude we know and don’t even get us started on how she tears up the ski slopes on the weekends in winter. More importantly, Leslie is a strong, dedicated and brilliant force to be reckoned with both in the workplace and out. A native to Colorado Springs, she’s volunteered for the National Charity League and St Jude's Children's Hospital and currently works in commercial real estate. She joined Upside driven by her desire to spread knowledge and encourage her peers to follow in creating awareness and change to matters that need it most.");

      })

      $('#jl').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/jen.jpg)"})
        name.append('Jennifer Lazear');
        text.append('Ever heard the term “little sparkplug”? Google it. Now you know Jenn Lazear. Born and raised in Columbus, Ohio, Jenn has lived in Denver for 5 years, and we’re grateful to have her wit, her enthusiasm and her drive. She is a Commercial Real Estate Broker specializing in Retail Leasing and when she’s not focused on work she’s active in local AIPAC and Jewish Family Services initiatives as well as the International Council of Shopping Centers. Jenn joined Upside for the amazing opportunity to meet other like-minded women and provide fun programming for a great cause. ');

      })

      $('#rg').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/rachael.png)"});
        name.append('Rachael Greenberg');
        text.append('Rachael Greenberg, originally from Golden, Colorado is a marketing wizard at KPMG for her day job but her real work and her mark on this planet happens in the Denver community. She is a devoted mentor and trainer for Minds Matter Denver, a coach for City Lax Denver and is on the National Action Alliance for Suicide Prevention.  Inspired by the genesis of Upside and the group of women saying yes to making change, she joined the team to help spread the message of taking action and questioning the status quo.');

      })


      $('#br').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/bridget.jpg)"});
        name.append('Bridget Rodgers');
        text.append("You know those people you want to punch in the face bc everything they touch turns to gold? That’s Bridget. Eternal Michael Jackson mega-fan, founder of her event company, Cloth + Gold, and a devoted voice for positive change, she inspires those around her with her dedication, passion, and all around savvy. She was inspired to join Upside so that in 20 years when her kids ask her what she was doing during this time, she can say she made her voice loud and fought for what was right. Eff yes.");

      })

      $('#gh').click(function() {
        pic.empty();
        name.empty();
        text.empty();
        pic.css({"backgroundImage":"url(../images/head-shots/grace.jpg)"});
        name.append('Grace Hartman');
        text.append("In addition to being the shit, Grace Hartman is a an avid fencer (she fenced D1 in college and coached in DC), as well as a UX Designer at Spire Digital. She's obsessed with all things visual—especially enhancing digital experiences—and has worked as a designer in Nepal, Brazil and all over the country.  Experiencing new places, people, and cultures is what inspires her the most, so Grace is a travel fiend. While she's new to Colorado, we loved her IMMEDIATELY when she jumped at the opportunity to help craft a strong, smart and optimistic message + visual identity for Upside to help propel some positive change in this world. We’re forever grateful that Grace joined us.");

      })


        })



</script>



<!-- <script>

$(document).ready(function(){
  var sldr = $('.slider');
  var team = $('.team');
  var slideUp =$('#slider-up');
  team.click(function() {
      sldr.show(1).animate({
        height: '250px',
        opacity: '1'
    }, 900, 'easeInOutQuint');
    $(this).addClass('clicked').removeClass('team')

  })

  $('.clicked').click(function() {
    $(this).removeClass('clicked').addClass('team')
})

})




    </script> -->





  <!-- <div class='col-md-2 team-info team-1'>
    <h4 class='team-pic-name'>Briana Hernadez</h4>
  </div>
    <div class='col-md-2 team-info team-1' href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<p>Brianna Hernandez is a marketing professional at The Denver Post, but has spent the last decade fundraising, volunteering, and fostering strategic partnerships within the Denver community. From planning fundraisers for Hurricane Sandy victims, to marching against School of the Americas, to producing cultural events in the city, the idea of social justice motivates her to take action. She is a member of Mile High Young Professionals and is the membership co-chair for CultureHaus at the Denver Art Museum. Inspired by the passionate and bold women of Upside, she joined to empower others to be agents of change.</p>"class='popovers'>
    </div>
  <div class='col-md-2 team-info team-2'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-1' href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>Leslie Simonton</h2> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah"class='popovers'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-2'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-1'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div>
  <div class='col-md-2 team-info team-2'>
    <h4 class='team-pic-name'>Leslie Simonton</h4>
  </div> -->
