<div id='main-wrap'>
<div class='container-fluid participate-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2 involved'>
      <h1 id='ticket-head'>Get Involved</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>



  <!-- Border change around main page header for mobile  -->

  <div class='mobile-bars bars-pad'></div>
  <h1 id='ticket-head' class='mob-head'>Get Involved</h1>
  <div class='mobile-bars'></div>


  <!--  Page Content       -->

<div class='row'>
  <div id='tics' class='col-md-8 col-md-offset-2 col-sm-12'>
    Want to learn more about Upside? Want to volunteer at an Upside event? Looking for sponsorship opportunities? Let’s chat!</br></br>
    Contact us at: <a id='email' href="mailto:upsidedenver@gmail.com" target="_top">UpsideDenver@gmail.com</a>
  </div>
<!-- <div class='row donate-blurb'>
  <div class='col-md-8 col-md-offset-2 col-sm-12' id='tics'>If you can’t make the event but still want to contribute, please feel free to make your mark by making a donation below (no need to purchase a ticket to make a donation).
   </div>
   <iframe src='https://embed.nightout.com/events/pinkparty/tickets' width="100%" height="530px" frameborder="0" border="0" margin-bottom ="30px" name="Pink Party" id="embed-iframe"></iframe>
  </div> -->
</div>
</div>
</div>

<footer>
  <div class='foot-wrap'>
  <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials' src='../images/socials/insta2.png'/></a>
  <!-- <a href='https://www.facebook.com/groups/662063660664119' target="_blank"><img class='socials' id='facebook' src='../images/socials/booka3.png'/>
  </div> -->
</footer>







<script type='text/javascript' src='https://fundly.com/assets/widget.loader.js?wid=upside-events'></script>
