<div class='container-fluid participate-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2'>
      <h1 id='ticket-head'>Get Involved</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>


  <!-- Border change around main page header for mobile  -->

<!-- <div class='mobile-bars bars-pad'></div>
<h1 id='ticket-head mob-head'>Get Involved</h1>
<div class='mobile-bars'></div> -->


  <!--  Page Content       -->
<div class='row donate-blurb'>
  <div class='col-md-8 col-md-offset-2 col-sm-12' id='tics'>If you can’t make the event but still want to contribute, please feel free to make your mark by making a donation below (don't worry about buying a ticket).
   </div>
   <iframe src='https://embed.nightout.com/events/pinkparty/tickets' width="100%" height="530px" frameborder="0" border="0" name="Pink Party" id="embed-iframe"></iframe>
  </div>
</div>




<script type='text/javascript' src='https://fundly.com/assets/widget.loader.js?wid=upside-events'></script>
