<div class='container-fluid participate-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2 involved'>
      <h1 id='ticket-head'>Get Involved</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>



  <!-- Border change around main page header for mobile  -->

  <div class='mobile-bars bars-pad'></div>
  <h1 id='ticket-head' class='mob-head'>Get Involved</h1>
  <div class='mobile-bars'></div>


  <!--  Page Content       -->

<div class='row'>
  <div id='tics' class='col-md-8 col-md-offset-2 col-sm-12'>
    If you would like to get in contact with us with any questions please feel free to send us an email!  We’ll be in touch with you as soon as we are able.</br>
    <a id='email' href="mailto:info@upsidedenver.com" target="_top">Info@upsidedenver.com</a>
  </div>
<div class='row donate-blurb'>
  <div class='col-md-8 col-md-offset-2 col-sm-12' id='tics'>If you can’t make the event but still want to contribute, please feel free to make your mark by making a donation below (no need to purchase a ticket to make a donation).
   </div>
   <iframe src='https://embed.nightout.com/events/pinkparty/tickets' width="100%" height="530px" frameborder="0" border="0" margin-bottom ="30px" name="Pink Party" id="embed-iframe"></iframe>
  </div>
</div>







<script type='text/javascript' src='https://fundly.com/assets/widget.loader.js?wid=upside-events'></script>
