
  <div class='container-fluid about-content'>
    <div class='row about-head-row'>
      <div class='col-md-3 col-md-offset-2 about-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-head'>Events</h1>
      </div>
      <div class='col-md-3 about-bars bars-mob'></div>
    </div>
    <div class='row events-blurb'>
      <div class='col-md-10 col-md-offset-1 bgs'>
        <p id='events-blurb'>Our Upside Event Series will shed light on various causes – one per quarter – that demand our passion.

        Each event will focus on a specific charity or a group that aligns with a cause we feel is crucial. By inviting our network to learn about and contribute to these causes, our hope is that we ignite the desire in our attendees to pursue the causes that resonate with them personally. The first events are predetermined, but we’ll rely on our network to share their passions with us as time goes on, and to inform the causes to illuminate for future events
      </p>
    </div>

  <!-- </div>
  <section class='events'>
    <div id='events-nav'>
      <div class='event-picker event-1'>
        <h4 class='event-title'>Volume 1</h4>
      </div>
      <div class='event-picker event-2'>
        <h4 class='event-title'>Volume 2</h4>
      </div>
      <div class='event-picker event-3'>
        <h4 class='event-title'>Volume 3</h4>
      </div>
      <div class='event-picker event-4'>
        <h4 class='event-title'>Volume 4</h4>
      </div>
      <div class='event-picker event-5'>
        <h4 class='event-title'>Volume 5</h4>
      </div>
    </div> -->

    <div class='container-fluid' id='events-content'>
        <div class='col-md-10 col-md-offset-1 events-col'>
          <h2 class='event-main'>Volume 1</h2>
          <h2 class='event-name'>Planned Parenthood of the Rocky Mountains</h2>
        </div>
        <div class='col-md-10 col-md-offset-1 events-div '>
          <p class='event-info'>Do you support affordable access to cancer screenings? Antenatal care? Routine bloodwork? Preventative care? Surprise! You actually support the fundamental services that Planned Parenthood provides! Planned Parenthood is now the primary healthcare provider for millions of Americans, and while it’s easy for the impact of this lifeline to get lost in the rhetoric of left vs. right, now more than ever, we want to illuminate the role that Planned Parenthood serves in our communities and protect the lives that Planned Parenthood protects. <br><br>

          Please join us for an evening with friends, booze, bites and tunes to benefit Planned Parenthood of the Rocky Mountains. It’ll be fun, and you may just learn a thang or two while you’re at it. <br><br>

          [on the event page we’d feature sponsor logos for the specific event – and could add to home page with the featured event if that makes sense / is standard]</p>
          <div class='events-button'>
            <div class='events-image col-md-12'>
            <div class='row row-events'>

              <div class='col-md-6 col-md-offset-3 cause-col'>
                <div id='home-event-wrap'>
                  <h2 id='cause-head'>PINK PARTY</h2>
                  <p>TO BENIFIT PLANNED PARENTHOOD</br>
                    OF THE ROCKY MOUNTAINS</p>
                  <p>SATURDAY, JULY 22</p>
                  <p>TWO THOUSAND SEVENTEEN</p>
                  <p>6 PM - 10 PM</p>
                  <p>at LEO & MICHELLE BESERRA'S</p>
                  <div class='main-button'>
                    <a ui-sref='events'><p id='about-event-text'>Event Info</p></a>
                    <a ui-sref='tickets'><p id='main-tickets'>Get Tickets</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-2 col-md-offset-2 event-picker  event-1'>
            <h4 class='event-title'>Volume 1</h4>
          </div>
          <div class='col-md-2 event-picker  event-2'>
            <h4 class='event-title'>Volume 2</h4>
          </div>
          <div class='col-md-2 event-picker  event-3'>
            <h4 class='event-title'>Volume 3</h4>
          </div>
          <div class='col-md-2 event-picker  event-4'>
            <h4 class='event-title'>Volume 4</h4>
          </div>
          <div class='col-md-2 event-picker  event-5'>
            <h4 class='event-title'>Volume 5</h4>
          </div>
          <div class='col-md-2 event-picker  event-1'>
            <h4 class='event-title'>Volume 6</h4>
          </div>
        </div>

    </div>



  </section>
