
<div class='main-wrap'>

                  <!--    Header for large screens     -->

  <div class='container-fluid about-content'>
    <div class='row about-head-row'>
      <div class='col-md-3 col-md-offset-2 about-bars'></div>
      <div class='col-md-2 about-pad'>
        <h1 id='about-head'>Events</h1>
      </div>
      <div class='col-md-3 about-bars bars-mob'></div>
    </div>


                    <!-- Border change around main page header for mobile  -->

    <div class='mobile-bars bars-pad'></div>
      <h1 id='ticket-head' class='mob-head'>Events</h1>
    <div class='mobile-bars'></div>

                    <!--  Page Content       -->

    <div class='row events-blurb'>
      <div class='col-md-8 col-md-offset-2 bgs'>
        <p id='events-blurb'>Upside events shed light on the causes that demand our passion and attention. Each event will support a local non-profit that aligns with a cause we feel is crucial.</br></br>

        At Upside events, we invite the Denver community to learn about and contribute to these causes. Our hope is that attendees leave feeling educated and empowered to take action with the causes that resonate with them personally.</br></br>

        Annually, Upside supports Planned Parenthood of the Rocky Mountains with the Pink Party.

      </p>
    </div>
  </div>



    <div class='container-fluid' id='events-content'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1 events-col'>
          <div class='row '>
          <h2 class='event-main'>Upcoming Events</h2>
          <div class='under'></div>

        </div>
        <div class='col-md-8 col-sm-12 col-md-offset-2'>
          <a ui-sref='tickets'><img class='event-image' src='../images/landing-1.jpg'/></a>
        </div>

          <!-- Event Sponsors -->
          <div class='col-md-10 col-md-offset-1 col-sm-12'>
            <h2 class='event-sponsors'>Event Sponsors</h2>
                      <div class='under'></div>
              <div id='sponsor-wrap-flex'>
                <a href='https://303magazine.com/' target="_blank"> <div class='sponsors-flex' id='mag'></div></a>

                <a href='http://www.5280.com/' target="_blank"> <div class='sponsors-flex' id='fifty-two'></div></a>

                <a href='http://www.aegliveevents.com/' target="_blank"><div class='sponsors-flex' id='aeg'></div></a>
                <a href='https://drafthouse.com/' target="_blank"><div class='sponsors-flex' id='alamo'></div></a>
                <a href='https://www.alexasbotanicals.com/' target="_blank"><div class='sponsors-flex' id='alexa-botanicals'></div></a>

                <a href='https://www.alphabackchiro.com/' target="_blank"> <div class='sponsors-flex' id='alpha-black'></div></a>

                <a href='https://www.bigsbysfolly.com/' target="_blank"> <div class='sponsors-flex' id='bigsby-folly'></div></a>


                <a href='https://www.bonannoconcepts.com/' target="_blank"><div class='sponsors-flex' id='bonanno'></div></a>

                <a href='https://www.denverfilm.org/' target="_blank"> <div class='sponsors-flex' id='denver-film'></div></a>

                <a href='https://joyridesapp.com/' target="_blank"> <div class='sponsors-flex' id='joyrides'></div></a>

                <a href='https://www.thepassportprogram.com/denver/' target="_blank"><div class='sponsors-flex' id='passport'></div></a>

                <a href='http://www.diomiopasta.com/' target="_blank"> <div class='sponsors-flex' id='dio-mio'></div></a>

                <a href='http://diningout.com/denverboulder/do-chef-panel/justin-cucci/' target="_blank"> <div class='sponsors-flex' id='edible-beats'></div></a>

                <a href='https://heartnsleeve.com/password' target="_blank"> <div class='sponsors-flex' id='heart-sleeve'></div></a>




                <!-- <a href='http://www.bremenswinetap.com/' target="_blank"><div class='sponsors-flex' id='bremens'></div></a>
                <a href='http://www.habitdoughnuts.com/' target="_blank"><div class='sponsors-flex' id='habit'></div></a>
                <a href='http://www.hamptonsuncare.com/' target="_blank"><div class='sponsors-flex' id='hampton_sun'></div></a> -->
                <a href='http://illegalpetes.com/' target="_blank"><div class='sponsors-flex' id='illegal_petes'></div></a>
                <!-- <a href='https://www.indicard.com/' target="_blank"><div class='sponsors-flex' id='indicard'></div></a>
                <a href='https://level1productions.com/' target="_blank"><div class='sponsors-flex' id='level_one'></div></a>
                <a href='https://www.lyft.com/' target="_blank"><div class='sponsors-flex' id='lyft'></div></a> -->
                <a href='http://msimonton.com/' target="_blank"><div class='sponsors-flex' id='me'></div></a>
                <a href='http://mcadenver.org/' target="_blank"><div class='sponsors-flex' id='mca'></div></a>

                <a href='http://midnight-rambler-boutique.shoplightspeed.com/' target="_blank"> <div class='sponsors-flex' id='midnight-ramber'></div></a>


                <!-- <a href='https://pondicherie.com/' target="_blank"><div class='sponsors-flex' id='pondicherie'></div></a> -->
                <a href='http://www.shift-cycle.com/' target="_blank"><div class='sponsors-flex' id='shift'></div></a>
                <a href='https://www.sojournerbeers.com/' target="_blank"><div class='sponsors-flex' id='intrepid'></div></a>
                <!-- <a href='https://www.thestorybrick.com/' target="_blank"><div class='sponsors-flex' id='storybrick'></div></a>
                <a href='https://sweatcosmetics.com/' target="_blank"><div class='sponsors-flex' id='sweat'></div></a> -->
                <a href='https://www.twoparts.com/' target="_blank"><div class='sponsors-flex' id='two-parts'></div></a>
                <a href='https://topodesigns.com/' target="_blank"><div class='sponsors-flex' id='topo_designs'></div></a>
                <!-- <a href='http://upstairscircus.com/co/' target="_blank"><div class='sponsors-flex' id='upstairs_circus'></div></a> -->


                <a href='https://totemtrue.com/' target="_blank"> <div class='sponsors-flex' id='totem-true'></div></a>
                <a href='http://www.westword.com/' target="_blank"> <div class='sponsors-flex' id='westword'></div></a>
              </div>
            </div>
        </div>

        <div class='col-md-12'>
          <h2 class='event-name' style='display: block'>Why Planned Parenthood of the Rocky Mountains?</h2>
        </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2 events-div '>
          <p class='event-info'>Each year, more than 100,000 women, men, and teens visit one of PPRM’s health centers.  Across Colorado, Nevada, New Mexico, and Wyoming, PPRM’s life-saving services include: cancer screenings, breast exams, antenatal care, routine blood work, reproductive healthcare, and educational programming.</br></br>

          One third of American women are in need of publicly funded health care, and more than 60% of those women choose Planned Parenthood as their primary health care provider.  For 100 years, PPRM has been an unwavering resource for the women of Colorado - including the women of Upside.</p>
          <h2 class='event-name' style='display: block'>How will the Pink Party help PPRM?</h2>
          <p class='event-info'>PPRM relies on the philanthropic support of its communities. Last year, budget cuts forced PPRM to announce the closure of six out of its 24 health centers.</br></br>

          However, PPRM supporters were able to raise more than $144,000 in 2017, allowing one of the six threatened health centers to remain open! Upside’s Pink Party proudly contributed $10,000 last year, proving that together we CAN make a difference.</p>

        </div>
      </div>
    </div>


<div class='past-events-info'>
    <h2 class='event-main'>Past Events</h2>
    <div class='under'></div>
    <h2 class='first-date'>First Annual Pink Party</br>
      July 22, 2017</h2>

    <div class='row row-cause'>
      <div class='col-md-8 col-md-offset-2 cause-col'>
        <div class='past-event-wrap'>
          <h2 id='cause-head-raised'>Together, we raised</h2>
          <p>$10,000</p>
          <p>for</p>
          <p>planned parenthood of the</p>
          <p>rocky mountains!</p>
          <p>Thanks to our friends, families, & sponsors who supported the</br> first annual Pink Party</p>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- Uncomment out ticket link for next event -->

    <!-- <div id='event-tickets'>
      <div class='main-button'>
        <a ui-sref='tickets'><p class='event-ticket-link' id='main-tickets'>Get Tickets</p></a>

      </div>
    </div> -->




                <!-- Old event info -->

    <!-- <div class=' container-fuid events-main'>
      <div class='row'>
      <div class='events-image col-md-10 col-md-offset-1 col-sm-12'>
        <div class='row' id='event-design'>
        <div class='col-md-6 cause-col events-colm'>
          <div class= 'event-wrap'>
            <h2 id='cause-head' class='event-head'>PINK PARTY</h2>
            <p>TO BENEFIT PLANNED PARENTHOOD</br>
              OF THE ROCKY MOUNTAINS</p>
            <p>SATURDAY, JULY 22</p>
            <p>TWO THOUSAND SEVENTEEN</p>
            <p>6 PM - 10 PM</p>
            <p>DRESS TO IMPRESS IN YOUR</p>
            <p>BEST PINK OUTFIT</p>
          </div>
        </div>
        <div class='col-md-6 perks-container'>
          <h3 class='perks-desc' id='perks-first'>Open bar by:</h3><p>Mile High Spirits, Intrepid Sojourner Project, and Red Bull</p>
          <h3 class='perks-desc'>Nacho bar by:</h3><p>Illegal Pete's</p>
          <h3 class='perks-desc'>Bites by:</h3><p>Habit Donut Dispensary</p>
          <h3 class='perks-desc'>Silent Disco by:</h3><p>Sounddown Party<p>
          <h3 class='perks-desc'>Giveaway from:</h3><p id='perks-last'>AEG, Alamo Drafthouse, Bonanno Concepts, Denver Fashion Weekend, Freeskier Magazine, Shift Cycle + Fitness, Topo Design, Upstairs Circus, and more!</p>
        </div>
      </div>
      <div id='event-tickets-mob'>
        <div class='main-button'>
          <a ui-sref='tickets'><p class='event-ticket-link' id='main-tickets'>Get Tickets</p></a>
        </div>
      </div>
    </div>
      </div>
    </div> -->


    <!-- Volume one past event info  -->

    <!-- <div id='vol-one-past'>
      <div id='past-event-info-one' class='past-event-info'>

      </div>
      <div id='past-event-info-two' class='past-event-info'>
        <img class='past-event-image' src="../images/thanks-sponsors.jpg"/>
      </div>
    </div>
 -->




  <!-- <h2 class='event-sponsors'>Event Sponsors</h2>
            <div class='under'></div>
    <div id='sponsor-wrap-flex'>
      <a href='https://303magazine.com/' target="_blank"> <div class='sponsors-flex' id='mag'></div></a>
      <a href='http://www.aegliveevents.com/' target="_blank"><div class='sponsors-flex' id='aeg'></div></a>
      <a href='https://drafthouse.com/' target="_blank"><div class='sponsors-flex' id='alamo'></div></a>
      <a href='https://www.alexasbotanicals.com/' target="_blank"><div class='sponsors-flex' id='alexa-botanicals'></div></a>
      <a href='https://www.bonannoconcepts.com/' target="_blank"><div class='sponsors-flex' id='bonanno'></div></a>
      <a href='http://www.bremenswinetap.com/' target="_blank"><div class='sponsors-flex' id='bremens'></div></a>
      <a href='http://www.habitdoughnuts.com/' target="_blank"><div class='sponsors-flex' id='habit'></div></a>
      <a href='http://www.hamptonsuncare.com/' target="_blank"><div class='sponsors-flex' id='hampton_sun'></div></a>
      <a href='http://illegalpetes.com/' target="_blank"><div class='sponsors-flex' id='illegal_petes'></div></a>
      <a href='https://www.indicard.com/' target="_blank"><div class='sponsors-flex' id='indicard'></div></a>
      <a href='https://level1productions.com/' target="_blank"><div class='sponsors-flex' id='level_one'></div></a>
      <a href='https://www.lyft.com/' target="_blank"><div class='sponsors-flex' id='lyft'></div></a>
      <a href='http://msimonton.com/' target="_blank"><div class='sponsors-flex' id='me'></div></a>
      <a href='http://mcadenver.org/' target="_blank"><div class='sponsors-flex' id='mca'></div></a>
      <a href='https://www.thepassportprogram.com/denver/' target="_blank"><div class='sponsors-flex' id='passport'></div></a>
      <a href='https://pondicherie.com/' target="_blank"><div class='sponsors-flex' id='pondicherie'></div></a>
      <a href='http://www.shift-cycle.com/' target="_blank"><div class='sponsors-flex' id='shift'></div></a>
      <a href='https://www.sojournerbeers.com/' target="_blank"><div class='sponsors-flex' id='intrepid'></div></a>
      <a href='https://www.thestorybrick.com/' target="_blank"><div class='sponsors-flex' id='storybrick'></div></a>
      <a href='https://sweatcosmetics.com/' target="_blank"><div class='sponsors-flex' id='sweat'></div></a>
      <a href='https://www.twoparts.com/' target="_blank"><div class='sponsors-flex' id='two-parts'></div></a>
      <a href='https://topodesigns.com/' target="_blank"><div class='sponsors-flex' id='topo_designs'></div></a>
      <a href='http://upstairscircus.com/co/' target="_blank"><div class='sponsors-flex' id='upstairs_circus'></div></a>

    </div> -->








<footer>
  <div class='foot-wrap'>
  <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials' src='../images/socials/insta2.png'/></a>
  <a href='https://www.facebook.com/upsidedenver' target="_blank"><img class='socials' id='facebook' src='../images/socials/booka3.png'/>
  </div>
</footer>
