
<div class='container-fluid gallery-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2 about-pad'>
      <h1 id='about-head'>Gallery</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>

  <!-- Border change around main page header for mobile  -->

<div class='mobile-bars bars-pad'></div>
<h1 id='ticket-head' class='mob-head'>Gallery</h1>
<div class='mobile-bars'></div>

  <!--  Page Content       -->

  <div class='row'>
<div class='col-md-8 col-md-offset-2' id='gal'>Reminiscing about how much sophisticated af fun you had at Volume One? We’ll upload pics soon so you can relive the magic. </div>
</div>
</div>
