
<div class='container-fluid gallery-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2 about-pad'>
      <h1 id='about-head'>Gallery</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>

  <!-- Border change around main page header for mobile  -->

<div class='mobile-bars bars-pad'></div>
<h1 id='ticket-head' class='mob-head'>Gallery</h1>
<div class='mobile-bars'></div>

  <!--  Page Content       -->

  <div class='row'>
<div class='col-md-8 col-md-offset-2' id='gal'>Reminiscing about how much sophisticated af fun you had at Volume One? We’ll upload pics soon so you can relive the magic. </div>
</div>
</div>


<!-- <div ng-app="customDirectives">
    <div> <span custom-popover popover-html="Some Popover Text" popover-placement="top" popover-label="Label">aalsdjfladsjflakjsdf</span>

    </div>
</div> -->

<!-- <img class='logo-slide' src='../images/logo.png'>
<div class='slide-test'>
</div> -->

<!-- <img class='logo-slide' src='../images/logo2.png'>
<div class='edge'></div>
<img src="../images/logo-text-up.png" class='up'/>
<img src="../images/logo-text-bot.png" class='bot'/>

<button id='up'>UP</button>
<button id='down'>DOWN</button> -->

<script>

$(document).ready(function(){
  var sldr = $('.logo-slide');
  var up = $('.up');
  var bot =$('.bot');
  $('#up').click(function() {
      sldr.animate({
        width: '200px',
        opacity: '1'
    }, 900, 'easeInOutQuint');
    up.delay(910).animate({
        left: '500px',
        opacity: '1'
    },550, 'easeOutBack');
    bot.delay(1550).animate({
      height: '60px',
      opacity: '1'
    },400, 'easeOutBack');
  })


  $('#down').click(function() {
      sldr.delay(1300).animate({
        width: '2px',
        opacity: '0'
    }, 500), 'easeInOutBack';
    up.delay(700).animate({
        left: '0px',
        opacity: '0'
  },1000, 'easeInOutBack');
  bot.animate({
    height: '0px',
    opacity: '0'
  },700, 'easeInOutBack');
  })

// $(document).ready(function(){
//   var sldr = $('.logo-slide');
//   $('#up').click(function() {
//       sldr.animate({top: '-250px',
//       height: '300px',
//       opacity: "1"
//     }, 500, "swing");
//
//
//   })
//
//   $('#down').click(function() {
//       sldr.animate({top: '50px',
//         height: "40px",
//         opacity: '.3'}, 300);
//
//
//   })
})
  </script>
