<script src='../javascripts/main.js'></script>
<div class='container-fluid home'>
  <div class='home-content'>
  <div class='row main-top'>
    <div class='col-md-5 home-bars'></div>
    <div class='col-md-2'>
      <h2 id='upside-home'>Volume One</h2>

    </div>
    <div class='col-md-5 home-bars'></div>


  </div>
  <div class='row row-cause'>

    <div class='col-md-6 col-md-offset-3 cause-col'>
      <h2 id='cause-head'>Planned Parenthood</h2>
      <div class='main-button'>
        <p id='about-event-text'>Event Info</p>
        <p id='main-tickets'>Get Tickets</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <button id='test'>Go For It</button> -->
<img id='logo-animation' src="../images/logo.png"/>
<script>

if(sessionStorage.length !== 0) {
  $(document).ready(function(){

  $('#logo-animation').css('display','none');
  $('.home').css('display','block')


})
  }

    else {
      $(document).ready(function(){
      var div = $("#logo-animation");
      var bod = $('body');

      div.animate({height: '385px', width:'630px', opacity: '.8'}, 300);

      div.animate({height: '340px', width: '550px',opacity: '.6'},270);
      bod.stop().delay().animate({backgroundColor: '#26333c'}, 50);
      bod.animate({backgroundColor: '#192228'},300);
      div.animate({height: '347px', width: '572px',opacity: '1'}, 180);
      div.delay(2000).fadeOut('slow');

      $('#test').delay(2600).fadeOut('slow');
      $('.home').delay(3400).fadeIn(1500);
      sessionStorage.setItem('count', '1');
      // console.log(counter)
    })
    }
</script>
