<script src='../javascripts/main.js'></script>
<div class='container-fluid home'>

  <div class='home-content'>
  <div class='row main-top'>
    <div class='col-md-4 col-md-offset-1 col-sm-offset-0 home-bars'></div>
    <div class='col-md-2 main-title'>
      <p id='upside-home'>Volume One</p>
    </div>
    <div class='col-md-4 home-bars'></div>
  </div>

  <!-- Border change around main page header for mobile  -->

  <div class='mobile-bars home-pad'></div>
  <h1 id='ticket-head' class='mob-head vol-one'>Volume:One</h1>
  <div class='mobile-bars bars-home'></div>

  <!--  Page Content       -->

  <div class='row row-cause'>

    <div class='col-md-6 col-md-offset-3 cause-col'>
      <div id='home-event-wrap'>
        <h2 id='cause-head'>PINK PARTY</h2>
        <p>TO BENEFIT PLANNED PARENTHOOD</br>
          OF THE ROCKY MOUNTAINS</p>
        <p>SATURDAY, JULY 22</p>
        <p>TWO THOUSAND SEVENTEEN</p>
        <p>6 PM - 10 PM</p>
        <p>DESS TO IMPRESS IN YOUR</p>
        <p> FINIEST PINK OUTFIT</p>
        <div class='main-button'>
          <a ui-sref='events'><p id='about-event-text'>Event Info</p></a>
          <a ui-sref='tickets'><p id='main-tickets'>Get Tickets</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>



<!-- <button id='test'>Go For It</button> -->
<img id='logo-animation' src="../images/full-logo.png"/>
<script>

if ($(window).width() > 800) {



if(sessionStorage.length !== 0) {
  $(document).ready(function(){

  $('#logo-animation').css('display','none');
  $('.home').css('display','block')
  })
}

    else {
      $(document).ready(function(){
      var div = $("#logo-animation");
      var bod = $('body');

      div.animate({height: '385px', width:'630px', opacity: '.8'}, 300);

      div.animate({height: '340px', width: '550px',opacity: '.6'},270);
      bod.stop().delay().animate({backgroundColor: '#26333c'}, 50);
      bod.animate({backgroundColor: '#192228'},300);
      div.animate({height: '347px', width: '572px',opacity: '1'}, 180);
      div.delay(2000).fadeOut('slow');

      $('#test').delay(2600).fadeOut('slow');
      $('.home').delay(3400).fadeIn(1500);
      sessionStorage.setItem('count', '1');
      // console.log(counter)
    })
    }
  }

  else {
    if(sessionStorage.length !== 0) {
      $(document).ready(function(){

      $('#logo-animation').css('display','none');
      $('.home').css('display','block')
      })
    }

        else {
          $(document).ready(function(){
          var div = $("#logo-animation");
          var bod = $('body');

          div.animate({height: '244px', width:'400px', opacity: '.8'}, 300);

          div.animate({height: '185px', width: '300px',opacity: '.6'},270);
          bod.stop().delay().animate({backgroundColor: '#26333c'}, 50);
          bod.animate({backgroundColor: '#192228'},300);
          div.animate({height: '190px', width: '315px',opacity: '1'}, 180);
          div.delay(2000).fadeOut('slow');

          $('#test').delay(2600).fadeOut('slow');
          $('.home').delay(3400).fadeIn(1500);
          sessionStorage.setItem('count', '1');
          // console.log(counter)
        })
        }
    {

    }
  }
</script>
