
<div id='main-wrap' class='home-wrapper'>
  <div class='container-fluid home'>
    <div class='home-content'>
      <div class='row main-top'>
        <div class='col-md-3 col-md-offset-1 col-sm-offset-0 home-bars'></div>
        <div class='col-md-4 main-title'>
          <p id='upside-home'>Volume One</p>
        </div>
        <div class='col-md-3 home-bars'></div>
      </div>

  <!-- Border change around main page header for mobile  -->

      <div class='mobile-bars home-pad'></div>
      <h1 id='ticket-head' class='mob-head vol-one'>Volume:One</h1>
      <div class='mobile-bars bars-home'></div>

  <!--  Page Content       -->

      <div class='row row-cause'>
        <div class='col-md-8 col-md-offset-2 cause-col'>
          <div id='event-background'>
          <div id='home-event-wrap'>
            <h2 id='cause-head-raised'>together, we raised</h2>
            <p>$10,000</p>
            <p>for</p>
            <p>planned parenthood of the</p>
            <p>rocky mountains!</p>
            <p>Thanks to our friends, families, & sponsors who supported the Pink Party</p>
            <p>Ready for another Upside Party?</p>
            <p>Stay tuned for more info about our next event!</p>
            <div class='main-button'>
                <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials-main' src='../images/socials/insta2.png'/></a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <footer>
  <div class='foot-wrap'>
  <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials' src='../images/socials/insta2.png'/></a>
  <a href='https://www.facebook.com/groups/662063660664119' target="_blank"><img class='socials' id='facebook' src='../images/socials/booka3.png'/>
  </div>
</footer> -->

        <!--  First time visit animation  -->
<img id='logo-animation' src="../images/full-logo.png"/>


<script>

if ($(window).width() > 800) {
  if(sessionStorage.length !== 0) {
    $(document).ready(function(){

    $('#logo-animation').css('display','none');
    $('.home').css('display','block')
    })
  }

    else {
      $(document).ready(function(){
      var div = $("#logo-animation");
      var bod = $('body');

      div.animate({height: '385px', width:'630px', opacity: '.8'}, 300);

      div.animate({height: '340px', width: '550px',opacity: '.6'},270);
      bod.stop().delay().animate({backgroundColor: '#26333c'}, 50);
      bod.animate({backgroundColor: '#192228'},300);
      div.animate({height: '347px', width: '572px',opacity: '1'}, 180);
      div.delay(2000).fadeOut('slow');

      $('#test').delay(2600).fadeOut('slow');
      $('.home').delay(3400).fadeIn(1500);
      sessionStorage.setItem('count', '1');
      // console.log(counter)
    })
    }
  }

  else {
    if(sessionStorage.length !== 0) {
      $(document).ready(function(){

      $('#logo-animation').css('display','none');
      $('.home').css('display','block')
      })
    }

        else {
          $(document).ready(function(){
          var div = $("#logo-animation");
          var bod = $('body');

          div.animate({height: '244px', width:'400px', opacity: '.8'}, 300);

          div.animate({height: '185px', width: '300px',opacity: '.6'},270);
          bod.stop().delay().animate({backgroundColor: '#26333c'}, 50);
          bod.animate({backgroundColor: '#192228'},300);
          div.animate({height: '190px', width: '315px',opacity: '1'}, 180);
          div.delay(2000).fadeOut('slow');

          $('#test').delay(2600).fadeOut('slow');
          $('.home').delay(3400).fadeIn(1500);
          sessionStorage.setItem('count', '1');
          // console.log(counter)
        })
        }
      }
</script>
