<div class='main-wrap'>
<div class='container-fluid about-content ticket-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2'>
      <h1 id='ticket-head'>Tickets</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>
  <div class='row'>
<iframe src='https://embed.nightout.com/events/the-2nd-annual-pink-party-to-benefit-planned-parenthood-of-the-rocky-mountains/tickets' width="100%" height="680px" frameborder="0" border="0" name="Upside Presents the Second Annual Pink Party" ></iframe>
</div>

<!-- <div class='row'>
<div class='col-md-8 col-md-offset-2' id='tics'>If you can’t make the event but still want to contribute, please feel free to make your mark by making a donation.     </div>
</div> -->
</div>


<div class='container-fluid content-mobile'>
    <div class='mobile-bars bars-pad'></div>
      <h1 id='ticket-head'>Tickets</h1>
    <div class='mobile-bars'></div>

  <div id='iframe-wrap'>
    <iframe src='https://embed.nightout.com/events/the-2nd-annual-pink-party-to-benefit-planned-parenthood-of-the-rocky-mountains/tickets' width="100%" height="680px" frameborder="0" border="0" name="Upside Presents the Second Annual Pink Party" ></iframe>
</div>
</div>

</div>


<footer>
  <div class='foot-wrap'>
  <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials' src='../images/socials/insta2.png'/></a>
  <a href='https://www.facebook.com/upsidedenver' target="_blank"><img class='socials' id='facebook' src='../images/socials/booka3.png'/>
  </div>
</footer>
