<div id='main-wrap'>
<div class='container-fluid about-content ticket-content'>
  <div class='row about-head-row'>
    <div class='col-md-3 col-md-offset-2 about-bars'></div>
    <div class='col-md-2'>
      <h1 id='ticket-head'>Tickets</h1>
    </div>
    <div class='col-md-3 about-bars'></div>
  </div>
  <div class='row'>
<div class='col-md-8 col-md-offset-2 tics' id='tics'>Stay tuned for information about Upside's next event!</div>
</div>

<!-- <div class='row'>
<div class='col-md-8 col-md-offset-2' id='tics'>If you can’t make the event but still want to contribute, please feel free to make your mark by making a donation.     </div>
</div> -->
</div>


<div class='container-fluid content-mobile'>
    <div class='mobile-bars bars-pad'></div>
      <h1 id='ticket-head'>Tickets</h1>
    <div class='mobile-bars'></div>
    <div class='col-md-8 col-md-offset-2 tics' id='tics'>Stay tuned for information about Upside's next event</div>
  <div id='iframe-wrap'>
</div>
</div>

</div>

<footer>
  <div class='foot-wrap'>
  <a href='https://www.instagram.com/upsidedenver/?hl=en' target="_blank"><img class='socials' src='../images/socials/insta2.png'/></a>
  <!-- <a href='https://www.facebook.com/groups/662063660664119' target="_blank"><img class='socials' id='facebook' src='../images/socials/booka3.png'/> -->
  </div>
</footer>
