
            /*    Index   */

 .home {
 display: none;
}

#test {
  display: block;
  margin: auto;
  margin-top: 300px;
}



#logo-animation {
  display: block;
  margin: auto;
  opacity: 0;
  height: 1px;
  width: 400px;
  margin-top: 300px;


}

.animation-background {
  background: radial-gradient(white 50%, red 50%);
}

body  {
  background-color:#192228;
  margin: 0px;

}


#main-nav  {
  width: 100%;
  background-color: white;
  height: 100px;
  margin: 0px;
  text-align: center;
  position: fixed;
  /*border-bottom: 5px solid rgb(25,34,40);*/
  box-shadow: 0px 6px 6px 0px rgb(25,34,40);
  top: 0px;
  z-index: 1;
}

.large-row  {
  width: 100%;
  display: flex;
  justify-content: center;
}

.large-col  {
  text-align: center;

}

#nav-col-last {
  padding-left: 0px;
}

.nav-row-left, .nav-row-right, .nav-image {

}
.nav-row-left, .nav-row-right {
margin-top: 60px;
}

.nav-left, .nav-right{
  text-align: center;
  height: 50px;
}

.nav-text {
  margin: auto;
  width: 100px;

  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-logo  {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo-text  {
  width: 150px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.nav-image  {
  text-align: center;
}

#nav-logo {
  width: 100px;
  margin: auto;

  background-color: white;
  padding: 15px;
  padding-top: 7px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: 5px solid rgb(25,34,40);


}

.nav-links  {
  color: black;
  text-decoration: none !important;
}

/*.nav-right:hover  {
  background-color: black;
}*/


.main  {
  width: 100%;
  position: relative;
}



          /*    Page Animations   */

.main.ng-enter,
.main.ng-leave {
    /* transition on enter and leave for .5s */
    transition: .5s;
}

.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

  .ng-enter-active {
    transition: opacity .5s;
    opacity: .8;
  }

  .ng-leave-active {
    transition: opacity .5s;

                 /* end with background opacity 0 to hide it */
                 opacity: 0;
               }

            /*     Layout of Home Page     */

.home         {
  padding: 0px;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  height:90vh;
  background-image: url("../images/disco.jpg");
  background-size: cover;
  background-repeat: no-repeat;

/*box-shadow:inset 0px 0px 90px 50px #192228;*/
background-color: rgba(0,0,0,.2)
}

.home-content {
  height: 50vh;
  background-color: rgba(0,0,0, .55);
  margin-top: 300px;
  width: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.main-top{
  width: 95%;
  margin: auto;
}

#upside-home  {

  font-size: 60px;
}

.home-bars  {
  margin-top: 100px;
  border-bottom: 2px solid white;
}

.row-cause  {
  width: 100%;
}

.cause-col  {
  text-align: center;
}
#cause-head {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-left: 30px;

}

.main-button  {
  margin-left:30px;
}

#about-event-text, #main-tickets {
  display: inline-block;
  background-color: rgba(255,255,255, .9);
  color: black;
  font-size: 20px;
  margin: 15px;
  padding: 5px;
  border-radius: 6px;

}



            /*  About Page   */


.about-content  {
  width: 100%;
  text-align: center;
margin-top: 180px;
}

.about-head-row {
  width: 100%;
}

#about-head {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  font-size: 44px;

}
.about-pad  {
  padding: 0px;
}



.about-bars {
  border-bottom: 2px solid white;
  margin-top: 50px;;
}


.about-content-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-blah {
  padding-left: 0px;
}

#mission-head {
  font-size: 24px;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

#about-text   {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #989898;
  padding-left: 0px;

}

#about-team {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  font-size: 30px;

}

.team-bars {
  border-bottom: 1px solid white;
  margin-top: 35px;
}

.about-team-row {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.team-1:hover {
  cursor: pointer;
}

.popover  {
  background-color: rgba(25,34,40, .8);
  color: white;
  border: 1px solid grey;
}

.team-info  {
  background-image: url('../images/les-bad.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.team-2 {
  background-image: url('../images/leslie-old.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.team-pic-name  {
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,.6);

  padding:5px;

}

.team-pic-row {
  margin-bottom: 30px;
}



            /*   Events Layout   */

.events    {
  display: flex;
  margin: auto;
  margin-left: 50px;
  width: 95%;

}

#events-nav {


}

.event-picker {
  background-color: blue;
  height: 120px;
  width: 110px;
  margin-top: 8px;
  flex:1;
  order: 1;
  border: 1px solid white;
}

.event-1  {
  background-image: url('../images/disco.jpg');
  background-size: 240%;
  background-position: center;
  background-repeat: no-repeat;
}

.event-2  {
  background-image: url('../images/nature.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-3  {
  background-image: url('../images/building.jpg');
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
}

.event-4  {
  background-image: url('../images/whale.jpg');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.event-5  {
  background-image: url('../images/goat.jpg');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}


.event-title  {
  color: rgba(255,255,255, .8);
  text-align: center;
  background-color: rgba(0,0,0,.7);
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
  margin-top: 0px;
  width: 100%;

}

#events-content {
  text-align: center;
  order: 2;


}

.events-div {}

.event-name {
  margin-top: 60px;
  color: white;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}



.event-info {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  color: #989898;


}


.events-col {

}


.events-image {
  background-image: url('../images/disco.jpg');

  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 8px;
  border: 1px solid white;
}


.event-time {
  margin: auto;
  width: 50%;
  padding-left: 0px;
  margin-top: 30px;
  list-style: none;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  padding: 35px 0px 35px 0px;
}

.event-time-info  {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}



          /*    Ticket Page Layout   */


iframe    {
  width: 50%;
}
#ticket-head {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  font-size: 40px;
  margin-bottom: 50px;

}

.theme-container  {
  margin-left: 0px;
}
