
            /*    Index   */

 .home {
 display: none;
}



#test {
  display: block;
  margin: auto;
  margin-top: 300px;
}



#logo-animation {
  display: block;
  margin: auto;
  opacity: 0;
  height: 1px;
  width: 400px;
  margin-top: 300px;


}

.animation-background {
  background: radial-gradient(white 50%, red 50%);
}

body  {
  background-color:#192128;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

}

#main-nav  {
  width: 100%;
  background-color: white;
  height: 100px;
  margin: 0px;
  text-align: center;
  position: fixed;
  /*border-bottom: 5px solid rgb(25,34,40);*/
  box-shadow: 0px 6px 6px 0px rgb(25,34,40);
  top: 0px;
  z-index: 1;
}




.large-row  {
  width: 100%;
  display: flex;
  justify-content: center;
}

.large-col  {
  text-align: center;

}

#nav-col-last {
  /*padding-left: 0px;*/
}

.nav-row-left, .nav-row-right, .nav-image {

}
.nav-row-left, .nav-row-right {
margin-top: 60px;
}

.nav-left, .nav-right{
  text-align: center;
  height: 50px;
}

.nav-text {
  margin: auto;
  width: 100%;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboot {
  min-width: 101px;
}
.tix  {
  padding-left: 4px;
}


#main-logo  {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo-text  {
  width: 150px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.nav-image  {
  text-align: center;
}



.nav-links  {
  color: black;
  text-decoration: none !important;
}

.menu-button  {
  width: 60px;
  display: inline-block;
  float: right;
  margin-right: 70px;

}



/*.nav-right:hover  {
  background-color: black;
}*/


.main  {
  width: 100%;
  margin-top: 100px;
  position: relative;
}



          /*    Page Animations   */

.main.ng-enter,
.main.ng-leave {
    /* transition on enter and leave for .5s */
    transition: .5s;
}

.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

  .ng-enter-active {
    transition: opacity .5s;
    opacity: .8;
  }

  .ng-leave-active {
    transition: opacity .5s;

                 /* end with background opacity 0 to hide it */
                 opacity: 0;
               }

            /*     Layout of Home Page     */




#home-wrap  {
  background-color: rgba(0,0,0, .3);
}

.home         {
  padding: 0px;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  height:100vh;
  background-image: url("../images/disco.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}



.home-content {
  height: 100vh;
  /*background-color: rgba(0,0,0, .55);*/
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  overflow: hidden;
}

.main-top{
  width: 100%;
  margin: auto;
  margin-left: 0px;
}

#upside-home  {
  padding: 0px;
  font-size: 60px;
  margin-left: -30px;
}

.home-bars  {
  padding: 0px;
  margin-top: 100px;
  border-bottom: 2px solid white;
}

.main-title {
  padding: 0px;
}

.row-cause  {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.cause-col  {
  text-align: center;
  margin-left: 0px;
  width: 100%;
  padding: 0px;
  /*background-color:#192228;*/
  background-color: rgba(0,0,0, .5);
}

#main-back  {

}
#cause-head {
  color: #FF1899;
  font-family: 'Fjalla One', sans-serif;
  font-size: 95px;
  margin-bottom: 0px;
  font-stretch:extra-condensed;
}

.cause-col  p {
margin: 0px;
margin-top: -7px;

}

.cause-col p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color:#FF1899;
  font-size: 18px;
  margin-top: -9px;
  margin-bottom: 22px;

}
.cause-col p:nth-child(3) {
  font-size: 35px;
  font-weight: 900;
  font-family: 'Fjalla One', sans-serif;
}
.cause-col p:nth-child(4) {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}
.cause-col p:nth-child(5) {
  font-family: 'Fjalla One', sans-serif;
  font-size: 37px;
  letter-spacing: 6px;
}
.cause-col p:nth-child(6) {
  font-family: 'Fjalla One', sans-serif;
  font-size: 23px;
}


.main-button  {
  margin-left:0px;
}

#about-event-text, #main-tickets {
  display: inline-block;
  background-color: rgba(255,255,255, .9);
  color: black;
  font-size: 20px;
  margin: 15px;
  padding: 5px;
  border-radius: 6px;

}



            /*  About Page   */


.about-content  {
  width: 100%;
  text-align: center;
  padding:0px;
margin-top: 180px;
}

.about-head-row {
  width: 100%;
}

#about-head {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  font-size: 44px;

}
.about-pad  {
  padding: 0px;
}



.about-bars {
  border-bottom: 2px solid white;
  margin-top: 50px;;
}


.about-content-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-blah {
  padding-left: 0px;
}

#mission-head {
  font-size: 24px;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

#about-text   {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #989898;
  padding-left: 0px;

}

#about-team {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  font-size: 30px;

}

.team-bars {
  border-bottom: 1px solid white;
  margin-top: 35px;
}

.about-team-row {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.team-1:hover {
  cursor: pointer;
}

.popover  {
  background-color: rgba(25,34,40, .8);
  color: white;
  border: 1px solid grey;
}

.team-info  {
  background-image: url('../images/les-bad.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.team-2 {
  background-image: url('../images/leslie-old.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.team-members {
  width: 100%;
  text-align: center;
  padding: 0px;
}


.team-pic-row {
  /*margin: auto;
  text-align: center;*/
}






            /*   Events Layout   */

.events    {
  display: flex;
  margin: auto;
  margin-left: 50px;
  width: 95%;

}

#events-nav {


}

.event-picker {
  background-color: blue;
  height: 120px;
  width: 110px;
  margin-top: 8px;
  flex:1;
  order: 1;
  border: 1px solid white;
}

.event-1  {
  background-image: url('../images/disco.jpg');
  background-size: 240%;
  background-position: center;
  background-repeat: no-repeat;
}

.event-2  {
  background-image: url('../images/nature.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-3  {
  background-image: url('../images/building.jpg');
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
}

.event-4  {
  background-image: url('../images/whale.jpg');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.event-5  {
  background-image: url('../images/goat.jpg');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}


.event-title  {
  color: rgba(255,255,255, .8);
  text-align: center;
  background-color: rgba(0,0,0,.7);
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
  margin-top: 0px;
  width: 100%;

}

#events-content {
  text-align: center;
  order: 2;


}

.events-div {}

.event-name {
  margin-top: 60px;
  color: white;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}



.event-info {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  color: #989898;


}


.events-col {

}


.events-image {
  background-image: url('../images/disco.jpg');

  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 8px;
  border: 1px solid white;
}


.event-time {
  margin: auto;
  width: 50%;
  padding-left: 0px;
  margin-top: 30px;
  list-style: none;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  padding: 35px 0px 35px 0px;
}

.event-time-info  {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}



          /*    Ticket Page Layout   */


iframe    {
  width: 50%;
}
#ticket-head {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  font-size: 40px;
  margin-bottom: 50px;

}

.theme-container  {
  margin-left: 0px;
}





/*  Testing   */


.slide-test {
  border-top: 2px solid white;
  position: absolute;
  display: block;
  margin: auto;
  margin-top: 400px;
  width: 800px;
  height: 500px;
  background-color: rgba(255,255,255, .2);
  background-color:#192228;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


}

.logo-slide {
  margin:auto;
  margin-top: 90px;
  position: absolute;
  height: 400px;
  width: 2px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0;


}

#up, #down  {
  margin: auto;

}


.edge {
  display: inline-block;
  margin-top: 100px;
  margin-left: 270px;
  width: 500px;
  height: 400px;
background-color:#192228;}

.up, .bot {
  display: inline;
  color: #FF1899;
  margin:auto;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
}

.up {
  margin-top: 160px;
  margin-left: 300px;
  height: 90px;
  background-color:#192228;
  opacity: .0;

}
.bot{
  margin-top: 290px;
  margin-left: 810px;
  height: 0px;
  width: 370px;
  opacity: 0;
}




    /* !!!!!!!!!!!!!  MOBILE LAYOUT  !!!!!!!!!!!!!!   */


@media screen and (min-width: 1000px) {
  #main-nav-mobile {
    display: none;
  }
  #main-nav {
    display: block;
  }
  #nav-logo {
    width: 100px;
    margin: auto;

    background-color: white;
    padding: 15px;
    padding-top: 7px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 5px solid rgb(25,34,40);


  }

  .content-mobile {
    display: none;
  }

  .team {
    display: inline-block;
    float: none;
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;

  }
}

@media screen and (max-width: 1000px) {
  #main-nav-mobile {
    display: block;
  }
  #main-nav {
    display: none;
  }
  #nav-logo {
    height: 90px;
    margin-left: 10px;

  }

  .ticket-content {
    display: none;
  }
  .content-mobile {
    display: block;
  }
  iframe  {
    width: 92%;
    z-index: 3;
    margin-top: 35px;

  }
}

@media screen and (max-width: 1000px) {
  .home   {
    background-size: cover;
    background-position: center;
    height: 100vh
  }
  #content  {
    margin-top: 0px;
  }
  .about-content  {
    margin-top: 75px;
  }

  #ticket-head  {
    margin: 15px 0px 15px 0px;
  }
  .team {
    margin: auto;
    margin-bottom: 15px;
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;


  }
}




#main-nav-mobile {
  padding: 0px;
  width: 100%;
  background-color: white;
  height: 95px;
  margin: 0px;
  position: fixed;

  box-shadow: 0px 6px 6px 0px rgb(25,34,40);
  top: 0px;
  z-index: 4;
}


#dropdown-toggle  {
 float: right;
 margin-top: 30px;
}
#drop {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: -30px;
  color: black;
  position: fixed;
  z-index: 55;
  font-size: 24px;
  background-color: rgba(255, 255, 255, .9);
  padding-top: 20px;
  border: 2px solid black;
}

.mob-links {
  text-decoration: none !important;
  color: black;
  text-align: center;
}

.mob-links-head {
  margin:auto;
  margin-bottom: 24px;
  width: 100%;
  text-decoration: underline;


}

.img-mob  {
  display: inline-block;

}


          /*   Tickets for Mobile     */

.mobile-bars  {
  margin: auto;
  width: 70%;
  border-bottom: 3px solid white;
}

.content-mobile {
  text-align: center;
  margin: auto;
  margin-top: 125px;
}

#iframe-wrap  {
  text-align: center;
}
